@import "../base";

.center{
  box-shadow: 2px 2px 2px #9E9E9E;

  .knowledge_type{

    h1,h2,h3,h4,h5,h6{
      font-weight: normal;
      text-align: center;
      border-radius: 5px;
      background-color: #e0e0e0;
      box-shadow: 2px 2px 2px #9E9E9E;
      text-shadow: 2px 2px 2px #9E9E9E;
    }

    .knowledge_content{

      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      a{
        box-shadow: 2px 2px 2px #9E9E9E;
        $height:4em;

        display: inline-block;
        margin: 5px 7px;
        border-radius: 5px;
        width: 23%;
        height: $height;
        line-height:$height;
        text-align: center;
        background-color: #fff8bb;
        text-decoration: none;
        color:black;

        &:hover{
          background-color: #e8e2a7;
        }
      }
    }
  }
}
