$footer_height:60px;

body{
  background-color: #eee;
  > header{
    p{
      text-align: right;
    }
    h1{
      text-align: center;
    }
      text-align: center;
  }
  > footer{
    height: $footer_height;
    width: 100%;
  }
}

// 首页导航=============================================

.home_nav{
  text-align: center;
  height: 2em;
  line-height: 2em;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #d9d9d9;
  box-shadow: 2px 2px 2px #9E9E9E;
  a{
    color: blue;
    padding: 0 15px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

// 中部内容=============================================

.content{
  width: 100%;
  // display: flex;
  // justify-content: center;

  // 左侧=============================================

  .left{
    float: left;
    padding-left: 20px;
    padding-top: 20px;

    @media screen and (max-width: 1460px) {
      padding: 0 10px;
      float: none;
      width: 1000px;
      margin: 10px auto;
    }

    nav{
      // padding: 10px 50px 0 0;
      a{
        display: block;
        padding: 3px 0;
        color: blue;
        text-decoration: none;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  // 中部内容==========================================

  .center{
    margin: 0 auto;
    box-shadow: 2px 2px 2px #9E9E9E;
    width: 1000px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FAFAFA;
  }

  // 右侧=============================================

  .right{
    .to_top{
      position: fixed;
      right: 2%;
      bottom: $footer_height;
      width: 50px;
      height: 50px;
      background-color: #c6c6c6;

      div{
        position: absolute;
        width: 50%;
        height: 10%;
        background-color: #0097A7;
      }

      div:first-child {
        transform: rotate(45deg);
        margin: 45% 40%;
      }

      div:last-child {
        transform: rotate(-45deg);
        margin: 45% 10%;
      }
    }
  }
}
