*{
  margin: 0;
  padding: 0;
}

.banner{
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-color: rgba(57, 57, 57,0.5);
}

/*  首页导航  =====================================*/

.home_nav{
  height: 30px;
  width: 100%;
  font-size: 2vw;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: rgb(167, 198, 232);
}

.home_nav a{
  margin: 0 10px;
}

.knowledge_type{
  padding-top: 10px;
  width: 100%;
}

.knowledge_type h1{
  border-bottom: 2px solid #b3b3b3;
}

/* 手机屏幕================================================================= */

@media screen and (max-width: 500px) {

  .knowledge_type h1{
    font-size: 5vw;
  }

  .content{
    width: 75%;
    margin: 0 auto;
  }

  .knowledge_type .knowledge_slot {
    display: inline-block;
    margin-top: 0.5vh;
    width: 24vw;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    font-size: 2vw;
    border-radius: 2vw;
    background-color: gray;
  }
}

/* 电脑屏幕================================================================= */

@media screen and (min-width: 500px) {

  .content{
    width: 1000px;
    margin: 0 auto;
  }

  .knowledge_type .knowledge_slot {
    display: inline-block;
    margin-top: 10px;
    width: 246px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 15pt;
    border-radius: 10px;
    background-color: gray;
  }
}
