$footer_height:100px;

body{
  background-color: #eee;
  > header{
      text-align: center;
  }
  > footer{
    height: $footer_height;
    width: 100%;
  }
}

// 首页导航=============================================

.home_nav{
  text-align: center;
  height: 2em;
  line-height: 2em;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #d9d9d9;
  a{
    color: blue;
    padding: 0 15px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

// 中部内容=============================================

.content{
  display: flex;
  justify-content: center;

  // 左侧=============================================

  .left{
    nav{
      padding: 10px 50px 0 0;
      a{
        display: block;
        padding: 3px 0;
        color: blue;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      @media screen and (max-width: 800px){
          display: none;
      }
    }
  }

  // 中间=============================================

  .center{
    width: 800px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }

  // 右侧=============================================

  .right{
    .to_top{
      position: fixed;
      right: 2%;
      bottom: $footer_height;
      width: 50px;
      height: 50px;
      background-color: #bdbdbd;
      border-radius: 20%;

      div{
        position: absolute;
        width: 50%;
        height: 10%;
        background-color: #0097A7;
        border-radius: 30%;
      }

      div:first-child {
        transform: rotate(45deg);
        margin: 45% 40%;
      }

      div:last-child {
        transform: rotate(-45deg);
        margin: 45% 10%;
      }
    }
  }
}
