*{
  margin: 0;
  padding: 0;
  position: relative;
}

.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(191, 191, 191);
  filter: blur(100px);
  z-index: -1;
}

.w_blur::after {
  content: "";
  filter: blur(10px);
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*  顶部条幅  =====================================*/

.w_banner{
  clear: both;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/*  首页导航  =====================================*/

.home_nav{
  position: relative;
  height: 30px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  background-color: rgba(191, 191, 191, 0.5);
}

.home_nav a{
  color: #795003;
  margin: 0 10px;
  text-decoration: none;
  text-shadow: #f7f7f7 4px 2px 1px;
}

/*  中间内容  =====================================*/

.w_nav{
  float: left;
  width: 200px;
}

.w_nav a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: #f7f7f7 4px 2px 1px;
  color: #154a8e;
  background-color: #b5b9bd78;
  border-bottom: 1px solid rgba(210, 210, 210,0.6);
}

.w_center
{
  width: 1000px;
  margin: 20px auto;
  overflow: hidden;
  transform: translateX(-100px);
}

#page_content
{
  float: left;
  width: 800px;
  border: none;
}

/*  底部内容  =====================================*/

.w_bottom
{
  width: 100%;
  height: 250px;
}
